<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        .jumbotron{
            padding: 20px;;
            margin-bottom: 20px;
            background-color: bisque;
        }
    </style>
</head>

<body >
    
   
    {%include 'navbar.html'%}
    <div class="jumbotron"> 

        {% include 'messages.html' %}
        {% block content %} {% endblock %}
        
    </div>
    
   
</body>


</html>