{% extends 'base.html'%}

{% block content %} 
    <br>
   <a href="{% url 'delete' todo.id %}" class="btn btn-danger">Delete</a>
   <a href="{% url 'update' todo.id %}" class="btn btn-info">update</a>
    <h3>{{todo.title}}</h3>
    <br>
    <small>{{todo.created_date}}</small>
    <p>{{todo.done}}</p>
    <p>{{todo.body}}</p>


{% endblock%}