{% extends 'base.html' %}
   
{% block title %} Home {% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <div  class="card">
        {%for todo in todos%}
    
            <a class="card-body"   href="{% url 'detail' todo.id %}">{{todo.title}}</a><br>
            
        {%endfor%}
    </div>
{% endblock %}