{% extends 'base.html'%}

{% block content %}
    <h3>update todo</h3>

    <form action="" method="post" novalidate> 
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value='sub'>
    </form>
   

{% endblock %}